.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
    align-content: center;
    border-bottom: black solid 1px;
  }
  
  .flexItem {
    align-self: center;
  }

  .namecell{
      width: 50%;
      text-align: left;
  }
  .textcell{
    width: 100%;
    text-align: left;
}

.datecell{
    width: 50%;
    text-align: left;
}